* {
    font-family: sans-serif;
    color: white;
    text-align: center;
    margin-top: 7em;
}

h1, p {
    text-shadow: 0px 0px 5px rgb(255, 255, 255), 0px 0px 20px rgb(0, 0, 0), 0px 0px 40px rgb(255, 255, 255);
}

.wrap {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

button {
    background-color: springgreen;
    border: solid transparent 0px;
    color: black;
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
}

.score-board {
    display: flex;
    justify-content: space-between;
    padding: 0 2em 0 2em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 5px rgb(255, 255, 255), 0px 0px 20px rgb(0, 0, 0), 0px 0px 40px rgb(255, 255, 255);
}

#userScore, #cpuScore {
    padding: 0 2em;
}